<div class="container mt-5 m-auto p-5">
    <div class="row m-auto mb-5 pb-3">
        <h1 class="display-2 text-center">User List</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div ng-repeat="user in $ctrl.userArray" class="col">
            <div class="card h-100 border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">Name: {{user.name}}</h5>
                    <p class="card-text"><i>Surname:</i> {{user.username}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">User Available</small>
                    <button type="button" class="btn btn-dark float-end" ng-click="$ctrl.onDetails(user.id)">More
                        Details
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
